.path-map {
  width: 100%;
  min-height: 400px;
  border: solid 1px #fff;
  margin-top: 20px;
}
.path-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .path-info-item {
    width: 30%;
    background-color: white;
    font-size: 18px;
    padding: 5px 15px;
    .info-value {
      font-weight: bold;
    }
  }
}
